alembic==1.12.1
APScheduler==3.11.2
beautifulsoup4==4.12.2
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
cloudscraper==1.2.71
datasets
fastapi==0.104.1
lxml==4.9.3
playwright
psycopg2-binary==2.9.9
pydantic==2.7.0
pydantic-settings==2.1.0
python-dotenv==1.0.0
python-multipart==0.0.6
PyYAML==6.0.3
requests==2.31.0
scikit-learn
SQLAlchemy==2.0.23
torch
transformers
uvicorn[standard]==0.24.0
